<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557838041714-qa3187nocd62madr6154eqqg7omn5745.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557838041714-qa3187nocd62madr6154eqqg7omn5745</string>
	<key>API_KEY</key>
	<string>AIzaSyCS3YXjzQ5GBP5fVLGRF1fgm1bBJ7FQqEg</string>
	<key>GCM_SENDER_ID</key>
	<string>557838041714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>crypto.rogue.app</string>
	<key>PROJECT_ID</key>
	<string>rogue-develop</string>
	<key>STORAGE_BUCKET</key>
	<string>rogue-develop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557838041714:ios:b1aa71e0609a4eeba2f8eb</string>
</dict>
</plist>